:root {
  font-family: Inter, sstem-ui, Avenir, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
nav, footer{
  background-color: aquamarine;
  color:cornflowerblue;
  display: flex;
  justify-content: center;
}
nav a{
  color: white;
  text-decoration: none;
  padding: 1em;
}

nav a:hover{ background-color: darkcyan;}
.active {background-color: darkblue;}
main{
  padding: 1em;
  box-sizing: border-box;
}